/*=============================================>>>>>
= variables.scss - sass variables & maps =
===============================================>>>>>*/


/*----------  Colors  ----------*/
$colors : (
	 white : 'rgb(255, 255, 255)',
	 black : 'rgb(0, 0, 0)',
);

/*----------  Media Queries  ----------*/
$breakpoints : (
  'br--small'         : 30em,
  'br--medium-small'  : 36.25em,
  'br--medium'        : 48em,
  'br--medium-large'  : 64em,
  'br--large'         : 75em,
  'br--1280'	      : 80em,
  'br--xtra-large'	  : 100rem,
);


/*----------  Typography  ----------*/
$font-family--primary : "Open Sans", Helvetica, "Helvetica Neue",  Arial, sans-serif;


$font-size--base : 16px;

$fonts : (
	'h1'	: (
		font-size: 2.25rem,
		font-weight: 400,
		color: rgb(0, 0, 0),
	),
	'h2' : (
		font-size: 2.25rem,
		font-weight: 400,
		line-height: 1.11,
		color: rgb(0, 0, 0),
	),
	'h3' : (
		font-size: 1.5rem,
		font-weight: 400,
		color: rgb(0, 0, 0),
	),
	'h4' : (
		font-size: 1.5rem,
		font-weight: 400,
		color: rgb(0, 0, 0),
	),
	'h5' : (
		font-size: 1.25rem,
		font-weight: 400,
		color: rgb(0, 0, 0),
	),
	'h6' : (
		font-size: 1rem,
		font-weight: 400,
		color: rgb(0, 0, 0),
	),
	'p' : (
		font-size: 1rem,
		font-weight: 300,
		color: rgb(0, 0, 0),
	),
	'a' : (
		font-size: 1rem,
		font-weight: 300,
		color: rgb(0, 159, 227),
	),
	'blockquote' : (
		font-size: 1rem,
		font-weight: 300,
		color: rgb(0, 0, 0),
	)
);

@mixin types($mobile : true) {
	$factor : 0.9;
	@if ( $mobile ){
		$factor : 0.9;
	}@else {
		$factor : 1;
	}
	@each $fontTag, $fontParams in $fonts {
		@each $fontParam, $fontValue in $fontParams {
			#{$fontTag} {
				@if ($fontParam == font-size){
					font-size : ( $factor * $fontValue );
				}@else {
					#{$fontParam} : $fontValue;
				}
			}
		}
	}
}
